# Questions to be asked ?

- How states are performing?
- How cities are performing
- what professions yield more money?
- car ownership in states
- Things about job switch

In [86]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt

In [101]:
import seaborn as sns

counter

In [87]:
from collections import Counter

In [88]:
training_data = pd.read_csv("Training Data.csv")

In [89]:
training_data.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [90]:
training_data.rename(columns={"Married/Single": "marrital_status"},inplace=True)

In [91]:
# Counter(training_data.CITY)

In [92]:
# Counter(training_data.STATE)

In [93]:
# Counter(training_data.Profession)

In [94]:
Counter(training_data.Car_Ownership)

Counter({'no': 176000, 'yes': 76000})

In [96]:
Counter(training_data.House_Ownership)

Counter({'rented': 231898, 'norent_noown': 7184, 'owned': 12918})

In [97]:
Counter(training_data.marrital_status)

Counter({'single': 226272, 'married': 25728})

In [98]:
training_data.set_index("Id" ,inplace=True)

In [105]:
training_data

,Income,Age,Experience,marrital_status,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
Id,,,,,,,,,,,,
1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1
...,...,...,...,...,...,...,...,...,...,...,...,...
251996,8154883,43,13,single,rented,no,Surgeon,Kolkata,West_Bengal,6,11,0
251997,2843572,26,10,single,rented,no,Army_officer,Rewa,Madhya_Pradesh,6,11,0
251998,4522448,46,7,single,rented,no,Design_Engineer,Kalyan-Dombivli,Maharashtra,7,12,0
251999,6507128,45,0,single,rented,no,Graphic_Designer,Pondicherry,Puducherry,0,10,0
252000,9070230,70,17,single,rented,no,Statistician,Avadi,Tamil_Nadu,7,11,0

* some statistics

In [100]:
training_data.describe()

,Income,Age,Experience,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
count,2.520000e+05,252000.000000,252000.000000,252000.000000,252000.000000,252000.000000
mean,4.997117e+06,49.954071,10.084437,6.333877,11.997794,0.123000
std,2.878311e+06,17.063855,6.002590,3.647053,1.399037,0.328438
min,1.031000e+04,21.000000,0.000000,0.000000,10.000000,0.000000
25%,2.503015e+06,35.000000,5.000000,3.000000,11.000000,0.000000
50%,5.000694e+06,50.000000,10.000000,6.000000,12.000000,0.000000
75%,7.477502e+06,65.000000,15.000000,9.000000,13.000000,0.000000
max,9.999938e+06,79.000000,20.000000,14.000000,14.000000,1.000000

* looking for correlated features

In [28]:
training_data.corr()

,Income,Age,Experience,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
Income,1.000000,-0.000652,0.006422,0.007045,-0.002397,-0.003091
Age,-0.000652,1.000000,-0.001118,0.002154,-0.020134,-0.021809
Experience,0.006422,-0.001118,1.000000,0.646098,0.019309,-0.034523
CURRENT_JOB_YRS,0.007045,0.002154,0.646098,1.000000,0.005372,-0.016942
CURRENT_HOUSE_YRS,-0.002397,-0.020134,0.019309,0.005372,1.000000,-0.004375
Risk_Flag,-0.003091,-0.021809,-0.034523,-0.016942,-0.004375,1.000000

In [29]:
training_data.dtypes

Income                int64
Age                   int64
Experience            int64
Married/Single       object
House_Ownership      object
Car_Ownership        object
Profession           object
CITY                 object
STATE                object
CURRENT_JOB_YRS       int64
CURRENT_HOUSE_YRS     int64
Risk_Flag             int64
dtype: object

* seems , there is no missing value

In [104]:
training_data.dropna()

,Income,Age,Experience,marrital_status,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
Id,,,,,,,,,,,,
1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1
...,...,...,...,...,...,...,...,...,...,...,...,...
251996,8154883,43,13,single,rented,no,Surgeon,Kolkata,West_Bengal,6,11,0
251997,2843572,26,10,single,rented,no,Army_officer,Rewa,Madhya_Pradesh,6,11,0
251998,4522448,46,7,single,rented,no,Design_Engineer,Kalyan-Dombivli,Maharashtra,7,12,0
251999,6507128,45,0,single,rented,no,Graphic_Designer,Pondicherry,Puducherry,0,10,0
252000,9070230,70,17,single,rented,no,Statistician,Avadi,Tamil_Nadu,7,11,0

In [106]:
mean_earning_per_state = []
for state in training_data.STATE.unique():
    mean_earning_per_state.append([state,training_data[training_data["STATE"] == state].Income.min(),training_data[training_data["STATE"] == state].Income.mean(),training_data[training_data["STATE"] == state].Income.max()])
mean_earning_per_state = pd.DataFrame(mean_earning_per_state,
                  columns=['State', 'min_income','Average_Income','max_income'])

In [112]:
mean_earning_per_state.sort_values(by="Average_Income",ascending=False)

                State  min_income  Average_Income  max_income
27            Manipur       16909    5.960279e+06     9824009
6           Rajasthan       14222    5.191996e+06     9999400
2              Kerala       16212    5.162171e+06     9987955
10        West_Bengal       10310    5.115302e+06     9989145
19          Jharkhand       28561    5.096961e+06     9996947
9      Andhra_Pradesh       11114    5.090490e+06     9998070
8               Bihar       12766    5.056194e+06     9993041
20            Mizoram      168906    5.053509e+06     9952586
24       Chhattisgarh       43636    5.053378e+06     9996861
23              Delhi       29795    5.048278e+06     9998280
4          Tamil_Nadu       11735    5.044382e+06     9994061
1         Maharashtra       11430    5.014351e+06     9987388
5             Gujarat       13792    4.998497e+06     9999180
13          Karnataka       39231    4.992229e+06     9992098
17            Tripura       88435    4.970559e+06     9937676
3              Odisha       14723    4.944308e+06     9991569
7           Telangana       10675    4.941765e+06     9983889
0      Madhya_Pradesh       13629    4.888681e+06     9994932
14      Uttar_Pradesh       16890    4.884795e+06     9994518
11            Haryana       11483    4.879294e+06     9999938
21              Assam       13220    4.841613e+06     9980725
16             Punjab       14936    4.839838e+06     9962662
18        Uttarakhand       12608    4.688582e+06     9870628
28             Sikkim      129457    4.596077e+06     9886718
22  Jammu_and_Kashmir       17975    4.552470e+06     9990182
26   Uttar_Pradesh[5]      192460    4.348091e+06     9891476
12         Puducherry       27798    4.245138e+06     9968510
15   Himachal_Pradesh       96503    4.237702e+06     9766453
25         Chandigarh       80856    4.222786e+06     9905307

* Making sense of the data using visualizations

In [113]:

# mean_earning_per_state.plot.bar(x="State",y=["min_income","average_Income","max_income"], figsize = (10,10))

* some important tasks before fitting the model , preprocessing.

In [118]:
training_data[['Income', 'Age', 'Experience', 'marrital_status', 'House_Ownership',
       'Car_Ownership', 'Profession','CURRENT_JOB_YRS',
       'CURRENT_HOUSE_YRS']]

,Income,Age,Experience,marrital_status,House_Ownership,Car_Ownership,Profession,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS
Id,,,,,,,,,
1,1303834,23,3,single,rented,no,Mechanical_engineer,3,13
2,7574516,40,10,single,rented,no,Software_Developer,9,13
3,3991815,66,4,married,rented,no,Technical_writer,4,10
4,6256451,41,2,single,rented,yes,Software_Developer,2,12
5,5768871,47,11,single,rented,no,Civil_servant,3,14
...,...,...,...,...,...,...,...,...,...
251996,8154883,43,13,single,rented,no,Surgeon,6,11
251997,2843572,26,10,single,rented,no,Army_officer,6,11
251998,4522448,46,7,single,rented,no,Design_Engineer,7,12
251999,6507128,45,0,single,rented,no,Graphic_Designer,0,10
252000,9070230,70,17,single,rented,no,Statistician,7,11

In [114]:
from sklearn.tree import DecisionTreeClassifier

In [119]:
decision_tree = DecisionTreeClassifier(random_state=0, max_depth=5)
decision_tree = decision_tree.fit(training_data[['Income', 'Age', 'Experience', 'marrital_status', 'House_Ownership',
       'Car_Ownership', 'Profession','CURRENT_JOB_YRS',
       'CURRENT_HOUSE_YRS']], training_data.Risk_Flag)

ValueError: could not convert string to float: 'single'